@use '../utils';

html {
    box-sizing: border-box;
    font-size: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: utils.$font-primary;
    line-height: 130%;
    font-weight: 400;

    &.is-fixed {
        height: 100%;
        overflow: hidden;
    }
}