:root {
    --background-color: #1742B8;
    --text-color: #ffffff;
}

$black: #000;
$white: #fff;
$purple-primary: #6a4a9b;
$pink-primary: #f7c1c0;
$green-primary: #006b4e;
$gray-primary:#cacfd0;
$gray-secondary: #e4e7e7;
$gray-guy: #d1daf5;
$blue-guy: #1842b8;