@use '../globals';
@use '../utils';

.more-info {
    background: globals.$gray-secondary;
    color: globals.$green-primary;
    border-radius: 24px 24px 0 0;
    padding: 80px 0;
    position: sticky;
    overflow: hidden;
    cursor: pointer;
    z-index: -1;

    &__content {
        width: 75%;
        z-index: 1;
        position: relative;
    }

    &__title {
        font-size: 1.25rem;
        margin-bottom: 56px;
        font-family: utils.$font-primary;
    }

    &__text {
        font-size: 2rem;
        font-family: utils.$font-secondary;
        text-transform: uppercase;
        line-height: 100%;
    }

    &__line {
        position: absolute;
        top: 0;
        bottom: -15%;
        right: 0;
        z-index: 0;
        height: 100%;

        svg {
            height: 110% !important;
            width: auto !important;
        }

        path {
            stroke: globals.$gray-primary;
        }
    }

    @include globals.lg {
        padding-top: 152px;
        padding-bottom: 168px;

        &__content {
            width: 25%;
            margin-left: 8.33%;
        }

        &__title {
            font-size: 1.5rem;
        }

        &__text {
            font-size: 3rem;
        }

        &__line {
            path {
                stroke: globals.$green-primary;
            }
        }
    }
}